<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/_head :: head(${moto?.id} != null ? 'Editar Moto' : 'Nova Moto')}"></head>
<body>
<header th:replace="~{fragments/_navbar :: navbar}"></header>
<main class="container">
  <h1 th:text="${moto?.id} != null ? 'Editar Moto' : 'Nova Moto'"></h1>
  <form th:action="${form != null and form.id != null} ? @{'/motos/' + ${form.id}} : @{/motos}" method="post">
    <input type="hidden" name="_method" th:value="${form != null and form.id != null} ? 'PUT' : 'POST'"/>


    <label>Placa
      <input name="placa"
             required
             placeholder="ABC1D23"
             th:value="${form?.placa}"
             th:readonly="${form != null and form.id != null}" />
    </label>


    <label>Status
      <select name="status" required>
        <option th:each="s : ${T(br.com.fiap.apisecurity.model.enums.StatusMoto).values()}"
                th:value="${s}" th:text="${s}"
                th:selected="${moto != null} ? ${s} == ${moto.status} : false"></option>
      </select>
    </label>


    <label>Vaga
      <select name="vagaId">
        <option value="" th:selected="${form == null || form.vagaId == null}">—</option>
        <option th:each="v : ${vagas}"
                th:value="${v.id}"
                th:text="${v.identificacao}"
                th:selected="${form != null and form.vagaId != null and v.id == form.vagaId}">
        </option>
      </select>
    </label>


    <div class="actions">
      <a class="btn" th:href="@{/motos}">Voltar</a>
      <button class="btn btn-primary">Salvar</button>
    </div>
  </form>
</main>
</body>
</html>